.header {
  gap: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
}

.addbtn {
  display: flex;
  margin-bottom: 20px;
  justify-content: left;
}
