.gradientpink{
    Box-shadow: 0 6px 20px 0 rgba(244, 143, 177, .5) !important;
    background: linear-gradient(45deg, #ff5252, #f48fb1) !important;

}
.gradientblue {
    -webkit-box-shadow: 0 6px 20px 0 rgba(38, 198, 218, .5) !important;
    box-shadow: 0 6px 20px 0 rgba(38, 198, 218, .5) !important;
    background: linear-gradient(45deg, #0288d1, #26c6da) !important;

}
.roundedBox
{
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .18)
}
.tabview{
    background: #3f51b5;
    border: none;
    font-size: 20px;
    color: #fff;
   
    padding: 5px;
}
.tablist{
    background: #3f51b5;
}
.base--selected{
    text-decoration: underline;
}
nav a.active {
    background: linear-gradient(45deg, #303f9f, #7b1fa2);
    -webkit-box-shadow: 3px 3px 20px 0 rgba(123, 31, 162, .5);
    box-shadow: 3px 3px 20px 0 rgba(123, 31, 162, .5);
    color:#fff;
  }
  .navbarView{
    display: grid;
    /* margin: 20px; */
    margin: 25px;
  }
  .navbarView a{
    padding-bottom: 15px;
    font-size: 20px;
  }