.header {
  gap: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.addbtn {
  display: flex;
  margin-bottom: 20px;
  justify-content: left;
}

.delete-dialog {
  text-align: center;
  align-content: center;
}
